/* screen - asset-register-page */

.asset-register-page {
  align-items: flex-start;
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  height: 4713px;
  padding: 14px 0;
  width: 1920px;
}

.asset-register-page .btn-nav-contents {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 440px;
}

.asset-register-page .overlap-group {
  height: 100px;
  position: relative;
  width: 440px;
}

.asset-register-page .rectangle-224 {
  border: 1px solid;
  border-color: transparent;
  height: 80px;
}

.asset-register-page .rise_header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 6px;
  position: relative;
  width: 1920px;
}

.asset-register-page .typography {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  margin-left: 113px;
  margin-top: 91px;
  position: relative;
}

.asset-register-page .h3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.asset-register-page .overlap-group1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin-right: 14.0px;
  margin-top: 19px;
  min-height: 244px;
  width: 1680px;
}

.asset-register-page .line {
  align-self: flex-end;
  height: 1px;
  margin-top: 59px;
  object-fit: cover;
  width: 1628px;
}

.asset-register-page .lorem-ipsum-dolor-si {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 126px;
  width: 1600px;
}

.asset-register-page .asset-inventory {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 95.0px;
  margin-top: 139px;
  position: relative;
  width: 1031px;
}

.asset-register-page .table {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black--whitewhite);
  border: 1px solid;
  border-color: var(--pink-swan);
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.asset-register-page .table-item {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff00;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.asset-register-page .cell {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--orient);
  border-color: var(--pink-swan);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.asset-register-page .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 10px 12px;
  position: relative;
  width: 100%;
}

.asset-register-page .text {
  flex: 1;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
}

.asset-register-page .cell-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-color: var(--pink-swan);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.asset-register-page .text-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}
