/* screen - storyline-page */

.storyline-page {
  align-items: center;
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  height: 4713px;
  overflow: hidden;
  width: 1920px;
}

.storyline-page .btn-nav-contents {
  align-items: flex-start;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 14px;
  min-width: 440px;
}

.storyline-page .overlap-group {
  height: 100px;
  position: relative;
  width: 440px;
}

.storyline-page .rectangle-224 {
  border: 1px solid;
  border-color: transparent;
  height: 80px;
}

.storyline-page .overlap-group2 {
  height: 331px;
  margin-top: 6px;
  position: relative;
  width: 1920px;
}

.storyline-page .design-system_header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.storyline-page .typography-1 {
  left: 99px;
  position: absolute;
  top: 111px;
}

.storyline-page .overlap-group1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-right: 14.0px;
  min-height: 169px;
  width: 1680px;
}

.storyline-page .typography-2 {
  position: relative;
}

.storyline-page .rise_-divider_02 {
  align-items: flex-start;
  display: flex;
  height: 120px;
  margin-left: 38.0px;
  min-width: 1628px;
  padding: 59px 0;
}

.storyline-page .line {
  height: 1px;
  object-fit: cover;
  width: 1628px;
}

.storyline-page .typography {
  align-items: center;
  align-self: flex-start;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  margin-left: 165px;
  margin-top: 6px;
  position: relative;
}

.storyline-page .h3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.storyline-page .subtitle {
  letter-spacing: 0;
  line-height: 42px;
  margin-right: 59.0px;
  margin-top: 41px;
  min-height: 1302px;
  width: 1531px;
}

.storyline-page .typography-3 {
  align-self: flex-start;
  margin-left: 165px;
  position: relative;
}

.storyline-page .subtitle-1 {
  min-height: 965px;
}

.storyline-page .rise_-divider_02-2 {
  margin-left: 38.0px;
}

.storyline-page .subtitle-2 {
  min-height: 795px;
}

.storyline-page .typography-4 {
  align-self: flex-start;
  margin-left: 165px;
  margin-top: 525px;
  position: relative;
}

.storyline-page .subtitle-3 {
  min-height: 336px;
}

.storyline-page .page-footer {
  align-items: center;
  display: flex;
  height: 96px;
  margin-right: 46.0px;
  margin-top: 35px;
  position: relative;
  width: 1820px;
}

.storyline-page .copyright {
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storyline-page .h3-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.storyline-page .rise_-divider_02-3 {
  align-items: flex-start;
  display: flex;
  height: 120px;
  margin-top: 7px;
  min-width: 1628px;
  padding: 59px 0;
}

.storyline-page .subtitle-4 {
  letter-spacing: 0;
  line-height: 42px;
  margin-right: 19.0px;
  margin-top: 41px;
  width: 1571px;
}

.storyline-page .typography-5 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
}
